@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 This file contains CSS rules that you can add to your own
 userChrome.css to achieve the described effect. For information on
 how to find/create userChrome.css, see:
   http://kb.mozillazine.org/index.php?title=UserChrome.css

 Note that you have to restart Firefox for any changes to the file to
 take effect.
*/



/*
 Note: 'statuspanel' works in Firefox 60 and earlier, '#statuspanel'
 works in Firefox 61 and later.
*/



/*
 This rule hides the popup that shows when hovering over a link. 
*/
statuspanel[type=overLink],
#statuspanel[type=overLink]
{
    display: none !important;
}



/*
 This rule disables the fading in/out of the overlink popup. You may
 also wish to set browser.overlink-delay = 0 in about:config
*/
statuspanel[type=overLink],
statuspanel[inactive][previoustype=overLink],
#statuspanel[type=overLink],
#statuspanel[inactive][previoustype=overLink]
{
    -moz-transition: none !important;
}
